div .MuiFormHelperText-root {
    margin: 0;
    color: #d32f2f;
}

div input:-internal-autofill-selected {
    background-color: transparent !important;
}

input {
    padding-right: 5px !important;
}

label.Mui-focused {
    color: orange !important;
}
.MuiInput-root:hover:not(.Mui-disabled):before {
    border-bottom: 1px solid orange !important;
}
.MuiInput-underline:after {
    border-bottom: 1px solid orange !important;
}

.MuiFilledInput-underline:after {
    border-bottom: 1px solid orange !important;
}

.MuiOutlinedInput-root .Mui-focused fieldset {
    border-bottom: 1px solid orange !important;
}

#outlined-adornment-password-label {
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.form-container-logged-in {
    display: flex;
    justify-content: space-between;
}

.form-container-logged-in button {
    border-radius: 0 !important;
    border: 1px solid gray !important;
}

div .generate-btn {
    font-size: 13px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div .d-flex-jc {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    gap: 5px;
}

.btn-base {
    background-color: #FFAC30 !important;
    box-shadow: inherit !important;

}

.btn-base:hover {
    background-color: #ffac30b7 !important;
}

.btn-white {
    background-color: white !important;
    box-shadow: inherit !important;
    border: 1px solid lightgray !important;
    color: black !important;
}

.btn-white:hover {
    background-color: #1A1A1A14 !important;
}

.upper {
    text-transform: unset !important;
    font-size: 15px !important;
}

.register-btn {
    text-decoration: none;
}

.register-btn button {
    width: 100%;
}

button {
    text-transform: inherit !important;
    color: #1A1A1A !important;
    font-weight: 500;

    border-radius: 8px !important;

    font-size: 15px;
}

